<a href="https://colab.research.google.com/github/antoniosql/cursoml/blob/master/SQL_Azure_solidqdemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!apt-get install unixodbc-dev

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
The following NEW packages will be installed:
  unixodbc-dev
0 upgraded, 1 newly installed, 0 to remove and 35 not upgraded.
Need to get 217 kB of archives.
After this operation, 1,779 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 unixodbc-dev amd64 2.3.4-1.1ubuntu3 [217 kB]
Fetched 217 kB in 1s (399 kB/s)
Selecting previously unselected package unixodbc-dev:amd64.
(Reading database ... 144465 files and directories currently installed.)
Preparing to unpack .../unixodbc-dev_2.3.4-1.1ubuntu3_amd64.deb ...
Unpacking unixodbc-dev:amd64 (2.3.4-1.1ubuntu3) ...
Setting up unixodbc-dev:amd64 (2.3.4-1.1ubuntu3) ...

In [3]:
!pip install pyodbc

Collecting pyodbc
  Downloading https://files.pythonhosted.org/packages/81/0d/bb08bb16c97765244791c73e49de9fd4c24bb3ef00313aed82e5640dee5d/pyodbc-4.0.30.tar.gz (266kB)
     |████████████████████████████████| 276kB 2.7MB/s
Building wheels for collected packages: pyodbc
  Building wheel for pyodbc (setup.py) ... done
  Created wheel for pyodbc: filename=pyodbc-4.0.30-cp36-cp36m-linux_x86_64.whl size=272708 sha256=24374cabe13fb9c5d8ad697088114e5038e2915dadb0c8edfd8bf7699d2cea50
  Stored in directory: /root/.cache/pip/wheels/4a/02/ba/6b495fec7cb127583a769a74f3ba91eb700d73e25fbb5ba09b
Successfully built pyodbc
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.30

In [ ]:
%%sh
sudo su
curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -

#Download appropriate package for the OS version
#Choose only ONE of the following, corresponding to your OS version

#Ubuntu 16.04
#curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list > /etc/apt/sources.list.d/mssql-release.list
#Ubuntu 18.04
#curl https://packages.microsoft.com/config/ubuntu/18.04/prod.list > /etc/apt/sources.list.d/mssql-release.list
#Ubuntu 19.10
curl https://packages.microsoft.com/config/ubuntu/19.10/prod.list > /etc/apt/sources.list.d/mssql-release.list

sudo apt-get update
sudo ACCEPT_EULA=Y apt-get install msodbcsql17
# optional: for bcp and sqlcmd
sudo ACCEPT_EULA=Y apt-get install mssql-tools
echo 'export PATH="$PATH:/opt/mssql-tools/bin"' >> ~/.bash_profile
echo 'export PATH="$PATH:/opt/mssql-tools/bin"' >> ~/.bashrc
source ~/.bashrc

In [10]:
import pyodbc
pyodbc.drivers()

['ODBC Driver 17 for SQL Server']

In [17]:
import pyodbc

cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=tcp:solidqdemo.database.windows.net;DATABASE=AdventureWorksLT;UID=adminsql;PWD=Puk02020#!')
cursor = cnxn.cursor()

In [ ]:
cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print(row[0])
    row = cursor.fetchone()

In [22]:
import pyodbc
import pandas as pd

servidor= "tcp:solidqdemo.database.windows.net"
bbdd='AdventureWorksLT'
usuario = 'usuarioml'
contraseña=''

consulta = "SELECT * FROM SalesLT.SalesOrderDetail"

conexion = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + servidor + ';DATABASE=' + bbdd + ';UID=' + usuario +';PWD=' + contraseña )

DetalleVentas = pd.read_sql(consulta, cnxn)
DetalleVentas.head()

   SalesOrderID  ...  ModifiedDate
0         71774  ...    2008-06-01
1         71774  ...    2008-06-01
2         71776  ...    2008-06-01
3         71780  ...    2008-06-01
4         71780  ...    2008-06-01

[5 rows x 9 columns]