![SolidQ](https://antoniosql.github.io/images/SolidQ_Verne.png)

In [21]:
import pandas as pd
import numpy as np
import sqlite3

In [22]:
conn = sqlite3.connect('Tiendas24H.sqlite')
consulta="select c.CodCliente, FechaNacimiento, EstadoCivil, Sexo, IngresosAnuales, N.NivelAcademico, O.Ocupacion, case     when v.CodCliente is null then 0   else 1  end as 'EsCliente' from clientes c inner join NivelAcademico N    on c.NivelAcademico = N.Codigo     inner join Ocupacion O on c.Ocupacion = o.Codigo     left outer join VentasCAB v          on v.codcliente = C.codcliente where c.Codcliente <>'CONTADO'"

df = pd.read_sql_query(consulta,conn)

df.head()

,CodCliente,FechaNacimiento,EstadoCivil,Sexo,IngresosAnuales,NivelAcademico,Ocupacion,EsCliente
0,000020,1976-04-08,M,M,90000.0,Licenciatura,Profesional especializado,1
1,000026,1975-05-14,S,M,60000.0,Licenciatura,Profesional especializado,1
2,000026,1975-05-14,S,M,60000.0,Licenciatura,Profesional especializado,1
3,000026,1975-05-14,S,M,60000.0,Licenciatura,Profesional especializado,1
4,000026,1975-05-14,S,M,60000.0,Licenciatura,Profesional especializado,1

In [23]:
df.dropna(axis=0,inplace=True)

In [24]:
caracteristicas = ["EstadoCivil", "Sexo", "IngresosAnuales","NivelAcademico", "Ocupacion"]
etiqueta="EsCliente"

In [25]:
from sklearn.preprocessing import  OneHotEncoder,LabelEncoder

le=LabelEncoder()
df['EstadoCivil'] = le.fit_transform(df['EstadoCivil'])
df['Sexo'] = le.fit_transform(df['Sexo'])

In [26]:
dum_df = pd.get_dummies(df[caracteristicas], columns=["NivelAcademico","Ocupacion"] )

In [33]:
from sklearn.model_selection import train_test_split
X, y = dum_df, df[etiqueta]

In [34]:
X_train, X_test, y_train, y_test =\
  train_test_split(X, y,
  test_size=0.3,
  random_state=0,
  stratify=y)

Primero, asignamos la representación en array NumPy de las columnas de características a la variable X. Asignamos las clases de la primera columna a la variable y. Después, utilizamos la función train_test_split para separar en conjuntos de datos de entrenamiento y prueba de forma aleatoria. En este caso estamos asignando el 30% a test y el 70% al conjunto de entrenamiento. El objetivo de pasar también el array de la etiqueta (y) como argumento nos asegura que ambos conjuntos de datos tienen las mismas proporcionas de valores de esa clase que el dataset original

Si dividimos un conjunto de datos en datos de entrenamiento y pruebas debemos de ser conscientes de que estamos dejando de pasarle al algoritmo información que puede ser valiosa, por lo que no debemos de asignar un porcentaje demasiado elevado a ese conjunto de datos. Sin embargo, cuando más pequeño sea el conjunto de entrenamiento, más imprecisa es la estimación del error de generalización. Dividir un conjunto de datos en entrenamiento y prueba se trata de balancear estos dos escenarios. Lo más común es 60:40, 70·30 o 80:20. Sin embargo para conjuntos de datos muy grandes no es rato ver ratios como 90:10 o incluso 99:1

In [35]:
X_train

,EstadoCivil,Sexo,IngresosAnuales,NivelAcademico_Educación Secundaria,NivelAcademico_Educación Secundaria (en curso),NivelAcademico_Estudios de postgrado,NivelAcademico_Estudios universitarios (en curso),NivelAcademico_Licenciatura,Ocupacion_Empleado por cuenta ajena,Ocupacion_Empleados/as de hogar,Ocupacion_Mando intermedio,Ocupacion_Profesional especializado,Ocupacion_Profesional independiente
3743,1,1,80000.0,0,0,0,0,1,0,0,1,0,0
2560,1,1,80000.0,0,0,0,0,1,0,0,1,0,0
4081,1,1,80000.0,0,0,0,0,1,0,0,1,0,0
320,1,0,80000.0,0,0,0,1,0,0,0,0,0,1
8234,0,0,20000.0,0,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4142,1,1,80000.0,0,0,0,0,1,0,0,1,0,0
7881,0,0,100000.0,0,0,0,1,0,0,0,0,1,0
7927,0,1,80000.0,0,1,0,0,0,0,0,0,0,1
4798,1,1,80000.0,0,0,0,0,1,0,0,1,0,0
2816,1,1,80000.0,0,0,0,0,1,0,0,1,0,0

In [36]:
y_train

3743    1
2560    1
4081    1
320     1
8234    1
       ..
4142    1
7881    1
7927    1
4798    1
2816    1
Name: EsCliente, Length: 7278, dtype: int64