![Verne](https://www.vernegroup.com/wp-content/uploads/2020/07/LOGO-VERNE-TECHNOLOGY-GROUP-3.png)

# Agrupando Clientes

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt

In [12]:
conn = sqlite3.connect('Tiendas24H.sqlite')
consulta="select c.CodCliente, FechaNacimiento,  round((julianday('now') - julianday(FechaNacimiento))/365) as Edad,EstadoCivil, Sexo,IngresosAnuales, HijosACargo, N.NivelAcademico, O.Ocupacion from clientes c inner join NivelAcademico N    on c.NivelAcademico = N.Codigo     inner join Ocupacion O on c.Ocupacion = o.Codigo"

df = pd.read_sql_query(consulta,conn)

df.head()

,CodCliente,FechaNacimiento,Edad,EstadoCivil,Sexo,IngresosAnuales,HijosACargo,NivelAcademico,Ocupacion
0,000020,1976-04-08,44.0,M,M,90000.0,0.0,Licenciatura,Profesional especializado
1,000026,1975-05-14,45.0,S,M,60000.0,3.0,Licenciatura,Profesional especializado
2,000029,1975-08-12,45.0,M,M,60000.0,3.0,Licenciatura,Profesional especializado
3,000046,1978-02-15,43.0,S,F,70000.0,0.0,Licenciatura,Profesional especializado
4,000047,1978-08-08,42.0,S,F,80000.0,5.0,Licenciatura,Profesional especializado

In [13]:
df.dropna(axis=0,inplace=True)

In [25]:
#Personalizado
etiquetas = ["Adolescentes", "Millenials" ,"EGB","Maduros"]
custombins = [16,29,39,54,88]
df["RangoEdad"] = pd.cut(df["Edad"],bins=custombins,labels=etiquetas)

In [26]:
caracteristicas=["EstadoCivil" , "Sexo","IngresosAnuales","HijosACargo","NivelAcademico","Ocupacion","RangoEdad"]

In [29]:
from sklearn.preprocessing import  OneHotEncoder,LabelEncoder

le=LabelEncoder()
df['EstadoCivil'] = le.fit_transform(df['EstadoCivil'])
df['Sexo'] = le.fit_transform(df['Sexo'])

In [33]:
dum_df = pd.get_dummies(df[caracteristicas], columns=["NivelAcademico","Ocupacion","RangoEdad"] )
X=dum_df

In [34]:
from sklearn.preprocessing import MinMaxScaler
X_normalized = MinMaxScaler().fit(X).transform(X)

In [40]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters = 3, random_state=0)
kmeans.fit(X_normalized)

KMeans(n_clusters=3, random_state=0)

In [41]:
kmeans.labels_

array([1, 1, 1, ..., 1, 1, 1])

In [42]:
kmeans.cluster_centers_

array([[ 2.93733681e-01,  5.16971279e-01,  3.57375979e-01,
         1.97650131e-01,  1.90600522e-01,  5.35248042e-02,
         1.50130548e-01,  2.91122715e-01,  3.14621410e-01,
         4.96083551e-02,  1.42297650e-01,  4.22976501e-01,
         2.53263708e-01,  1.31853786e-01,  0.00000000e+00,
        -3.05311332e-16,  1.11022302e-16,  1.00000000e+00],
       [ 4.19098143e-01,  4.97789567e-01,  3.34659593e-01,
         2.56233422e-01,  9.46065429e-02,  1.85676393e-02,
         2.51989390e-01,  2.55526083e-01,  3.79310345e-01,
         1.09637489e-01,  1.45004421e-01,  1.32625995e-01,
         3.63395225e-01,  2.49336870e-01,  0.00000000e+00,
        -5.55111512e-17,  1.00000000e+00,  0.00000000e+00],
       [ 6.51933702e-01,  4.76979742e-01,  2.16390424e-01,
         1.10497238e-01,  2.50460405e-01,  1.23388582e-01,
         1.23388582e-01,  3.48066298e-01,  1.54696133e-01,
         2.22836096e-01,  1.74953959e-01,  4.60405157e-02,
         1.84162063e-01,  3.72007366e-01,  0.00000000e+00,
         9.98158379e-01, -4.99600361e-16, -5.55111512e-17]])

In [43]:
kmeans.inertia_

5099.017778574503