![SolidQ](https://antoniosql.github.io/images/SolidQ_Verne.png)

# Escalado de Caracter√≠sticas

In [2]:
import pandas as pd
import sqlite3
import numpy as np

In [5]:
conn = sqlite3.connect('Tiendas24H.sqlite')
query = "select c.CodCliente, FechaNacimiento, EstadoCivil, Sexo,IngresosAnuales, HijosACargo, N.NivelAcademico, O.Ocupacion from clientes c inner join NivelAcademico N    on c.NivelAcademico = N.Codigo     inner join Ocupacion O on c.Ocupacion = o.Codigo"

df = pd.read_sql_query(query,conn)

df.head()

,CodCliente,FechaNacimiento,EstadoCivil,Sexo,IngresosAnuales,HijosACargo,NivelAcademico,Ocupacion
0,000020,1976-04-08,M,M,90000.0,0.0,Licenciatura,Profesional especializado
1,000026,1975-05-14,S,M,60000.0,3.0,Licenciatura,Profesional especializado
2,000029,1975-08-12,M,M,60000.0,3.0,Licenciatura,Profesional especializado
3,000046,1978-02-15,S,F,70000.0,0.0,Licenciatura,Profesional especializado
4,000047,1978-08-08,S,F,80000.0,5.0,Licenciatura,Profesional especializado

In [6]:
caracteristicas =["IngresosAnuales","HijosACargo"]
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(df[caracteristicas])

In [7]:
X

array([[ 0.88021336, -0.67313748],
       [-0.01417334,  1.29309012],
       [-0.01417334,  1.29309012],
       ...,
       [ 0.88021336, -0.67313748],
       [ 0.88021336, -0.67313748],
       [ 1.47647117,  0.63768092]])